.head-title{
    padding-left:260px;
}

.footer-copyright{
    padding-left:260px;
    background-color: #0288d1 !important;
}

.footer-copyright p a{
    color:white;
    text-decoration: none;
}

.panel-default > .panel-heading {
    color: #ffffff;
    background-color: #26a69a;
    border-color: #26a69a;
}
.chip {
    background-color: #e0f2f1 !important;
    margin: 7px 7px 7px 7px;
    color: black !important;
    cursor: pointer;
    /*max-width: 25%;*/
    /*width: 130px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.composite-chip {
    background-color: #f2e3a0 !important;
    cursor: default;
}

.multianalysis-chip {
    background-color: #f2e3a0 !important;
    cursor: default;
}

.filter-chip {
    background-color: beige !important;
    cursor: default;
}
.chip-bg {
    background-color: #26a69a  !important;
}
/*.collapsible-header {
    background-color: #e0f2f1 !important;
}*/
.btn-group-vertical > button {
    margin-bottom:10px;
    border-radius:10px !important;
}
.modal-footer > button {
    margin: 5px 5px 5px 5px !important;
}
.materialize-breadcrumb {
    font-size: 14px !important;
    /*color: #26a69a;*/
}
label {
    color: black !important;
    font-size: 1.0rem !important;
    margin: 10px 0 0 0;
    width: 100%;
}
.fixed-action-btn > ul > li {
    margin-top: 0px !important;
}
.fixed-action-btn.horizontal ul {
    transform: translateX(50%);
    top: 0;
    right: 68px;
}
#associatedIndicatorsDiv {
    line-height: 42px;
    margin: 7px 7px 7px 0px;
}
.panel-heading {
    font-size: 16px;
}
#saveQuestion, #saveIndicator {
    min-width: 125px;
}
#copyCode {
    min-width: 110px;
}
.tabs .tab a {
    color: #0288d1 !important;
}
.tabs .tab .active {
    background-color: #e1f5fe !important;
}
.tabs .tab a:hover {
    color: #0288d1 !important;
}
.tabs .indicator {
    background-color: #0288d1 !important;
}
input[type=text]:focus:not([readonly]) {
    border-color: #0288d1 !important;
}
.preloader-wrapper.small {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
}
#chart_wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}
#preview_chart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.openlap-help-model {
    min-height: 90% !important;
    min-width: 90% !important;
    top: 0 !important;
}
#loadIndicatorTemplateModel {
    min-height: 85% !important;
    top: 0 !important;
}
#associatedIndicatorsLabelDiv {
    padding-left: 0px;
}
#floatingButtonDiv {
    margin-left: -50px;
}
.question-actions{
    margin-left:15px;
}
label:after {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    font-size: 0.9rem;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}
label:not(.active):after {
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
select.invalid {
    border: 2px solid red;
}
.select-desc {
    position: relative;
    display: inline-block;
    margin-top: 35px;
    text-align: left;
    color: grey;
    font-size: 13px;
}
#GoalSelectionDesc > i,
#analyticsMethodDesc > i {
    vertical-align: middle !important;
    font-size: 20px;
}
input,
input::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 2;
}
table#methodMappingTable,
table#visualizerMappingTable,
table#mlaids_methodMappingTable,
table#mlai_methodMappingTable,
table#mlai_visualizerMappingTable
{
    font-size: 13px;
}

i {
    cursor: pointer;
}
.divider {
    background-color: #03a9f4;
}
.graphLoader{
    display: inline-block;
    left: 50%;
    top: 200px;
}
#indicatorData > tbody > tr {
    cursor: pointer;
}
#indicatorData > tbody > tr.selected {
    background-color: #e1f5fe;
}
#questionData > tbody > tr {
    cursor: pointer;
}
#questionData > tbody > tr.selected {
    background-color: #e1f5fe;
}
#indicatorPropsTable {
    font-size: 12px;
}
#indicatorPropsTable tr td:first-child {
    width: 20%;
}
#confirmIndicatorDeleteModal, #confirmEntityDeleteModal,
#confirmTimeDeleteModal, #confirmUserDeleteModal{
    height: 30%; !important;
    top: 0 !important;
}

nav a {
    text-decoration: none !important;
    font-size: 26px !important;
}
nav a:link, nav a:hover, nav a:active {
    color: inherit;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
header, main, footer {
    /*padding-left: 240px;*/
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }

    .head-title{
        padding-left:20px;
    }

    .page-title{
        padding-left:20px;
    }

    .footer-copyright{
        padding-left:20px;
    }
}
/*@media only screen and (min-width: 993px) {*/
    /*.container {*/
        /*width: 98% !important;*/
    /*}*/
/*}*/
/*
.side-nav a {
    text-decoration: none !important;
    font-size: 14px !important;
}
.side-nav hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.side-nav li:hover, .collapsible-header:hover{
    background-color: white !important;
}

.side-nav li:first-of-type:hover {
    background-color: black !important;
}
*/

.side-nav.fixed a {
    color: #c3c3c3;
}

.side-nav .collapsible-body {
    background-color: transparent;
}

.side-nav .collapsible-header {
    background-color: transparent;
    font-weight: bold;
    margin:0;
}

.side-nav .collapsible-header.active {
    background-color: #868686;
}

.side-nav li.active {
    background-color: transparent;
}
.side-nav a:hover {
    text-shadow: 0 0 10px #ffffff;
}

.side-nav li:hover {
    background-color: transparent;
}
.side-nav li.sub-active {
    background-color: #5b5b5b;
}

.brand-logo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: default;
}
.brand-logo img{
    width: 30%;
}
textarea {
    height: auto !important;
}
textarea[type=text].invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 0 0 1px #F44336;
}
textarea[type=text].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 0 0 1px #4CAF50;
}
.searchIcon{
    padding-top: 15px !important;
}
.selected-left-menu-admin {
    border-color: lightgrey !important;
}
.left-menu-admin a {
    font-size: 12px !important;
    padding-left: 55px !important;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#questionRequestCode {
    background-color: lightgray;
}
.loading-overlay{
    background-color: lightgray;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    text-align:center;
    opacity: 0.7;
}
.request-loader{
    left: 50%;
    top : 50%;
    position : absolute;
    z-index: 103;
}
.loader-hide {
    display: none;
}

#upload-actions td{
    padding: 0px;
}
#upload-actions .alert-section{
    text-align: right;
}

#upload-actions .action-section{
    width: 120px;
    vertical-align: top;
}

#upload-actions .alert{
    padding: 5px;
    margin-bottom: 0px;
}

.dataTables_filter input { width: 400px!important; }

footer.page-footer {
     margin-top: 0!important;
    padding-top: 0!important;
}

.full-width {
    width: 100%!important;
}

#visualizeQuestionContent .card-content{
    padding: 5px 20px;
    background-color: #e1f5fe;
}

#visualizeQuestionContent .request-code{
    font-size: 12px;
    padding-top: 15px;
}

#visualizeQuestionContent .divider {
    background-color: #0288d1;
}

.question-vis-card{
    margin-right:5px!important;
    margin-left:5px!important;
}

#visualizeQuestionContent td {
    text-align: center!important;
}

.preview-action td {
    padding: 0;
    display: table-cell;
    text-align: right;
    vertical-align: top;
    border-radius: 0;
}

.preview-success-msg{
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
    color: #058409;
    display: block;
    cursor: default;
}

.preview-err-msg{
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
    color: #f44336;
    display: block;
    cursor: default;
}

.preview-err-msg p{
    padding:0;
    text-align: right;
}

.preview-err-msg a{
    color: #f44336;
}

.preview-err-msg a:hover{
    color: #f44336;
    cursor: hand;
}

.preview-err-msg a:active{
    color: #f44336;
}

.add-datasource-div{
    position: absolute;
    left: 195px;
    margin-top: 7px;
}

.add-datasource-btn{
    height: 25px;
    width: 25px;
    margin-left: 7px;
}

.add-datasource-label{
    line-height: 25px!important;
    font-size: 1.2rem!important;
}

.comp-checkbox{
    position: absolute!important;
    margin-top: 15px!important;
}

.comp-card-label{
    padding-left:25px;
}

.comp-card-padding{
    padding: 5px 20px!important;
}

.comp-card-blue{
    background-color: #e1f5fe;
}

.comp-card-green{
    background-color: #a4ffb0!important;
}

.comp-card-red{
    background-color: #fec1a8!important;
}

#compositeIndicatorModel{
    width: 90%;
    height: 90%;
    max-height: 90%;
    margin-top: -40px;
}

.openlap-help p {
    padding: 5px 10px;
}

.openlap-help-icon {
    position: absolute;
    padding-left:10px;
}

.select-wrapper span.caret {
    border-top: 0px;
}

.dropdown-content li {
    min-height: 30px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #0288d1;
    padding: 7px 16px;
}

.dropdown-content li>span>label {
    width: 18px;
    margin: 0px;
}

#mlai_combineMethodsSelection label{
    color:gray!important;
    font-weight: 500;
    display: inline;
    margin-right:10px;
}

.smallgraytext{
    font-size: 13px;
    color: gray;
}

#addFirstMethodModal{
    width:80%;
    height:90%;
    max-height:90%;
    top:0;
}

.invalidBorder {
    border: 2px solid red;
}

.dynamic-params label{
    font-size: 12px!important;
}

.required-column{
    color: #e40f0f;
}

.optional-column{
    color: green;
}

/*.item-title {*/
    /*width: auto;*/
/*}*/

/*.item-title .active{*/
    /*width: 100%;*/
/*}*/